.env
.idea/
/package-lock.json
node_modules
/logs/reqLog.log
/logs/errLog.log
/skill/job_descriptions.xlsx
/Data/job_descriptions.csv
/Data/job_descriptions.xlsx
/Data/job_descriptions.xlsx
/Data/Jobs.xlsx
/logs/reqLog.log